* {
    font-family: Helvetica;
}

body {
    background-color: whitesmoke;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: purple;
}

section {
    margin-top: 30px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 3px purple solid;
}

thead {
    background-color: yellow;
}

th, td {
    border-bottom: 1px purple solid;
}

.introSentence {
    text-align: center;
}

.codeSample {
    font-family: Courier;
    background-color: bisque;
}